@mixin bgcover($bg) {
  background-image: url($bg);
  background-position:center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  padding:15px;
}