#menu {
  height: 50px;
  display:block;
  > * {
    display: inline-block;
    vertical-align: top;
  }
  h1 {
    padding: 0;
    margin: 0 10px 0 0;
  }
  a {
    margin-left:10px;
  }
  #logo {
    @include bgcover("../img/angularjs.png");
    width: 46px;
    height: 46px;
  }
}

